<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/Admin Panel Kelurahan Oetete/src/style/admin.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="icon" href="/public/favicon.ico">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <title>Pengguna</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <!-- header start -->
    <%- include('header'); -%>
    <!-- header end   -->
    

    <style>
      .nav-link:hover{
        background-color: gray;
      }
      .dtHorizontalVerticalExampleWrapper {
          max-width: 600px;
          margin: 0 auto;
        }
        #dtHorizontalVerticalExample th, td {
          white-space: nowrap;
        }
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
          bottom: .5em;
        }
    </style>

    <div class="row g-0 mt-5" style="min-height: calc(100vh - 50px);">
      <!-- header start -->
      <%- include('sidebar'); -%>
      <!-- header end   -->
  
      <div class="col-md-10 p-5 pt-5">
        <h3><i class="fa-solid fa-users ms-2"></i>&nbsp&nbspPENGGUNA</h3><hr>
        <!-- <a href="/tambah_data/tambah-data-pengguna" type="button" class="btn btn-primary mb-3 "><i class="fa-solid fa-pen-to-square"></i>Tambah Data Pengguna</a> -->
        <a href="/tambah_data/tambah-data-pengguna" type="button" class="btn btn-primary mb-3 "><i class="fa-solid fa-pen-to-square"></i>Tambah Data</a>
        <!-- First Row -->
        <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-sm " cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th scope="col" class="text-center">No</th>
              <th scope="col" class="text-center">Nama Lengkap</th>
              <th scope="col" class="text-center">Username</th>
              <!-- <th scope="col" class="text-center">Password</th> -->
              <th scope="col" class="text-center">Level</th>
              <!-- <th scope="col" class="text-center">Aksi</th> -->
              <th scope="col" class="text-center">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% var number = 1; %> 
              <% for (let row of rows) {%>
              <td scope="row" class="text-center" ><%= number %></td>
              <td scope="row" class="text-center" ><%= row.nama_lengkap %></td>
              <td scope="row" class="text-center" ><%= row.user_name %></td>
              <!-- <td scope="row" class="text-center" ><%= row.user_password %></td> -->
              <td scope="row" class="text-center" >Administrator</td>
              <td scope="row" class="text-center">
            
                  <!-- menambah JSON.stringify(row) ke atribut data-json untuk diakses dari modal -->
                  <!-- setiap data json memiliki nilai berbeda mengikuti variabel row -->
                  <button type="button" class="border-0" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-json="<%= JSON.stringify(row) %>"><i
                      class="fa-solid fa-users-rectangle bg-primary p-2 text-white rounded" data-toggle="tooltip"
                      title="Detail"></i></button>
                  <!-- menambah data-form-action sebagai target / alamat proses untuk 
                      mengubah data setiap data yang memiliki alamat update berbeda -->
                  <button class="border-0"><i class="fa-solid fa-pen-to-square bg-success p-2 text-white rounded"
                      data-toggle="tooltip" title="Edit" data-bs-toggle="modal" data-bs-target="#exampleModalEdit"
                      data-json="<%= JSON.stringify(row) %>"
                      data-form-action="/data/data-pengguna/update/<%= row.user_id %>"></i></button>

                      <a href="/data/data-pengguna/delete/<%= row.user_id %>"><button class="border-0"><i class="fa-solid fa-trash-can bg-danger p-2 text-white rounded" data-toggle="tooltip"title="Delete"></i></button></a>
  
              </td>
              <% number++; %>
            </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>

                  <!-- Modal untuk detail data.  --> 
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Detail Pengguna</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body table-responsive">
              <table class="table table-bordered no-margin">
              <tbody>
                <!-- <tr>
                  <th style="width:50%">Id KK</th>
                  <td>KK010202</td>
                </tr> -->
                
                <tr>
                  <th style="width:50%">USER ID</th>
                  <td class="user_id" hidden></td>
                </tr>
                <tr>
                  <th style="width:50%">Nama Lengkap</th>
                  <td class="nama_lengkap"></td>
                </tr>
                <tr>
                  <th style="width:50%">Username</th>
                  <td class="user_name"></td>
                </tr>
                <tr>
                  <th style="width:50%">User Password</th>
                  <td class="user_password"></td>
                </tr>
                

                
              </tbody>
            </table>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        <!-- Modal edit -->

  <div class="modal fade " id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <form action="" class="form-edit" method="POST">
        <!-- menambah form 🔥🔥🔥🔥🔥🔥 -->
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelEdit">Edit Data Pengguna</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body table-responsive">
            <table class="table table-bordered no-margin">
              <tbody>
                <tr>
                  <tr>
                    <th style="width:50%">User ID</th>
                    <td>
                      <!-- menambah target binding berdasarkan atribut name -->
                      <input type="password" name="user_id"  class="form-control" hidden />
                    </td>
                  </tr>
                  <th style="width:50%">Nama Lengkap</th>
                  <td>
             
                    <input type="text" name="nama_lengkap" class="form-control" />
                  </td>
                </tr>
                <tr>
                  <th style="width:50%">Username</th>
                  <td>
                    <input type="text" name="user_name" class="form-control" />
                  </td>
                </tr>
                <tr>
                  <th style="width:50%">User Password</th>
                  <td>
                    <input type="password" name="user_password" class="form-control" />
                  </td>
                </tr>
              </tbody>
            </table>


          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Simpan</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
    </form>
  </div>

  <!-- 🔥🔥🔥🔥 modal pemberitahuan -->
  <% 
    if(typeof sukses != "undefined"){
  %>
  <div class="modal fade modal-pemberitahuan" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
    <div class=" modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <%= sukses == "true" ? "Berhasil" : "Kesalahan" %>
        </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body table-responsive">
        <%= pesan || "Terjadi sebuah kesalahan" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
  </div>
  <% 
    }
  %>


      <!-- footer start -->
      <%- include('footer.ejs'); -%>
      <!-- footer end   -->

      <script>
    $(document).ready(function () {
      $('#dtHorizontalVerticalExample').DataTable({
        "scrollX": true,
        "scrollY": 200,
      });
      $('.dataTables_length').addClass('bs-select');

      /**
       * aktivasi modal pemberitahuan
       * 
       */
      let pemberitahuan = document.querySelector('.modal-pemberitahuan');
      if(pemberitahuan){
        let modal_pemberitahuan = new bootstrap.Modal(pemberitahuan, {
          
        })
        modal_pemberitahuan.show();
      }

      /**
       * fungsi ditriger ketika modal dibuka
       * 
       */
      // semua elemen yang memiliki id exampleModal
      let modal = document.querySelector("#exampleModal");
      // menambah event listener pada setiap elemen modal
      modal.addEventListener('show.bs.modal', event => {
        console.log("Modal dibuka: ", event);
        /**
         * mengambil tombol relasi / tombol toggle dari modal yang sedang aktif
         * (tombol yang diklik)
         * didalam elemen tombol disisipkan atribut data-json yang memuat data 
         * keluarga berupa json
         * 
         */
        // cara mengakses data attribut dari jquery
        // contoh atribut data-json
        let data = $(event.relatedTarget).data('json');
        // di console browser
        console.log("data tombol yang diklik: ", data);

        // binding data yang diterima dari tombol ke element yang ada pada modal detail

        // bind data.no_kk ke anak elemen dari modal detail yang memiliki class no_kk
        $(modal).find(".user_id").text(data.user_id) // cara jquery
        // atau sama dengan cara vanilla javascript (javascript native/biasa)
        // modal.querySelector('.no_kk').innerHTML = data.no_kk
        // binding elemen lainnya yang ada pada modal detail
        $(modal).find(".nama_lengkap").text(data.nama_lengkap)
        $(modal).find(".user_name").text(data.user_name)
        $(modal).find(".user_password").text(data.user_password)


      });
      /**
       * modal edit sama seperti modal detail
       */
      let modal_edit = document.querySelector("#exampleModalEdit");
      modal_edit.addEventListener('show.bs.modal', event => {
        console.log("Modal dibuka: ", event);
        let data = $(event.relatedTarget).data('json');
        let target = $(event.relatedTarget).data('form-action');
        console.log("data tombol yang diklik: ", data);
        console.log("data elemen target: ", data);
        console.log("data form target: ", target);
        // binding action form dari data target form
        $(modal_edit).find("form").attr("action", target)
        // sedikit berbeda target bindingnya elemen input berdasarkan atribut name
        $(modal_edit).find("[name='user_id']").val(data.user_id) // cara jquery
        $(modal_edit).find("[name='nama_lengkap']").val(data.nama_lengkap)
        $(modal_edit).find("[name='user_name']").val(data.user_name)
        $(modal_edit).find("[name='user_password']").val(data.user_password)


      });
    });
      </script>


    
    <!-- <h1>Hello, world!</h1> -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js" integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>